.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
table1.docx
.DS_Store
.nojekyll
4R.qmd
4solutions.qmd
DataCampCombine.csv
L4k-modes_files
L4kmodes.qmd
L5svm.qmd
NFL.xlsx
README.md
Rintro.qmd
_quarto.yml
app.R
assignments record.xlsx
bankloan.xlsx
case.qmd
case1pre_files
case2code.R
chap1.qmd
chap4.qmd
chap4slide.qmd
chap5.qmd
chap5slide.qmd
chap6.qmd
chap6slide.qmd
chap7.qmd
chap8.qmd
chap9.qmd
code9_10_11.R
customers.xlsx
data
decathlon.qmd
decathlon.xlsx
docs
eg4.2.xlsx
eg6.1.csv
ex4.1.xlsx
ex4.2.xlsx
ex4.3.xlsx
fonts.html
header.html
img
index.qmd
kmodes.R
kmodesR.qmd
ldaR.qmd
match.xlsx
metro.xlsx
metro16.xlsx
mtcars.xlsx
nfl.qmd
pcaR.qmd
pcadraft.qmd
plot3d.r
projects.qmd
schedule.qmd
stu.R
styles.css
supermarket legend.xlsx
supermarket.csv
supermarket.xlsx
svm.r
svmR.qmd
teamwork.qmd
theme_dark.scss
theme_light.scss
website-template.Rproj
